In [1]:
from sklearn.feature_extraction.text import HashingVectorizer

In [2]:
# list of text documents
text = ["The quick brown fox jumped over the lazy dog."]

In [3]:
# create the transform
vectorizer = HashingVectorizer(n_features=20)

In [4]:
# encode document
vector = vectorizer.transform(text)

In [5]:
# summarize encoded vector
print(vector.shape)

(1, 20)

In [6]:
print(vector.toarray())

[[ 0.          0.          0.          0.          0.          0.33333333
   0.         -0.33333333  0.33333333  0.          0.          0.33333333
   0.          0.          0.         -0.33333333  0.          0.
  -0.66666667  0.        ]]

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(vector.toarray())

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,-0.333333,0.333333,0.0,0.0,0.333333,0.0,0.0,0.0,-0.333333,0.0,0.0,-0.666667,0.0